@{
    Layout="Shared/_Layout.cshtml";
}

<div class="clear-holder">
    <h2>Are you sure you want to permanently delete the entire list of contacts?</h2>
    <form action="/contacts/clear" method="post">
        <button type="submit" class="btn btn-warning">Yes, delete it all</button>
    </form>
    <a href="/"><button class="btn btn-primary">No, take me back</button></a>
</div>
