@{
    Layout="Shared/_Layout.cshtml";
}
<div class="button-header">
    <div class="button-holder">
        <a href="/add"><button class="btn btn-success basic-button">Create a New Contact</button></a>
        <a href="/clear"><button class="btn btn-danger basic-button">Clear Existing Contacts</button></a>
        <h4>Simple Address Book :)</h3>
    </div>
</div>
<div class="row">
    @if (Model.Count == 0)
    {
        <div class="empty-list">
            <h1>You have no contacts saved</h1>
        </div>
    }
    else
    {
        @foreach (var contact in Model)
        {
            <div class="contact-div-main well col-sm-4">
            <div class="contact-name col-md-7">
                <a href="/contact/@contact.GetId()"><h1>@contact.GetName()</h1></a>
            </div>
            <div class="col-md-5">
                <form class="delete-button-holder" action="/delete/@contact.GetId()" method="post">
                    <button type="submit" class="btn btn-danger delete-button">Delete Contact</button>
                </form>
            </div>
            </div>
        }
    }
</div>
