@{
    Layout="Shared/_Layout.cshtml";
}

@if (Model.Count == 0)
{
    <div class="empty-list">
        <h1>There's nothing in your list</h1>
    </div>
}
else
{
    @foreach (var contact in Model)
    {
        <div class="contact-div well">
        <a href="/contact/@contact.GetId()"><h1>@contact.GetName()</h1></a>
        <form action="/delete/@contact.GetId()" method="post">
            <button type="submit" class="btn btn-danger">Delete Contact</button>
        </form>
        </div>
    }
}

<a href="/add"><button class="btn btn-success">Create a New Contact</button></a>
<a href="/clear"><button class="btn btn-danger">Clear Existing Contacts</button></a>
