<div id="nav-header">
    <a href="/"><button class="btn btn-primary">Home</button></a>
    <h3>Simple Address Book</h3>
    <form class="search-box" action="/search" method="post">
        <div class="form-group search-holder">
            <label class="search-label" for="query"><button type="submit" class="btn btn-info">Search Contacts</button></label>
            <input class="form-control search-field" name="query" id="query" type="text" placeholder="search by name...">
        </div>
    </form>
</div>
