<div id="nav-header">
    <a href="/"><button class="btn btn-primary">Home</button></a>
    <form class="search-box" action="/search" method="get">
        <div class="form-group search-holder">
            <label class="search-label" for="search-text"><button type="submit" class="btn btn-info">Search Contacts</button></label>
            <input class="form-control search-field" type="text" placeholder="...">
        </div>
    </form>
</div>
