h4 {
    color: white;
    display: inline-block;
}

#nav-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    color: #CCC;
    background: #333;
    padding: 8px;
    height: 60px;
    z-index: 1;
}

.basic-button {
    margin: 15px;
    width: 190px;
}

.button-holder {
    position: fixed;
    left: -5px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    color: #CCC;
    background: #333;
}

.clear-holder button {
    display: inline-block;
}

.contact-div {
    margin-top: 10px;
}

.contact-div-main {
    min-height: 150px;
}

.contact-form {
    margin-top: 15px;
}

.contact-name {
    width: 50%;
}

.delete-button {
    margin-top: 20px;
}

.search-box {
    display: inline-block;
    right: 0px;
    width: 350px;
}

.search-field {
    display: inline-block;
    width: 200px;
    margin-top: 4px;
}

.search-label {
    display: inline-block;
    width: 130px;
    margin-top: -1px;
}

.search-holder {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 5px;
}

div.topper {
    height: 70px;
}
